{{#each posts as |post|}}
    <div class='post-card'>
        
        <h2 class='post-title'>
            <a href='/post/{{post.id}}'>{{post.title}}</a>
            <div>
                <span class='info'>Created by {{post.user.username}}</span>           
                <span class='info'>on {{format_date post.date_created}}</span>
            </div>
        </h2>

        <p class='post-main'>
            {{post.content}}
        </p>

    </div>
{{/each}}